@charset "UTF-8";
@font-face {
  font-family: AvenirLTProBlackOblique;
  font-display: swap;
  src: url("../fonts/AvenirLTProBlackOblique.woff2") format("woff2"), url("../fonts/AvenirLTProBlackOblique.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirLTProBlack;
  font-display: swap;
  src: url("../fonts/AvenirLTProBlack.woff2") format("woff2"), url("../fonts/AvenirLTProBlack.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Avenir Next LT Pro Regular;
  font-display: swap;
  src: url("../fonts/Avenir Next LT Pro Regular.woff2") format("woff2"), url("../fonts/Avenir Next LT Pro Regular.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: AvenirLTProBookOblique;
  font-display: swap;
  src: url("../fonts/AvenirLTProBookOblique.woff2") format("woff2"), url("../fonts/AvenirLTProBookOblique.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirLTProBook;
  font-display: swap;
  src: url("../fonts/AvenirLTProBook.woff2") format("woff2"), url("../fonts/AvenirLTProBook.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirLTProHeavy;
  font-display: swap;
  src: url("../fonts/AvenirLTProHeavy.woff2") format("woff2"), url("../fonts/AvenirLTProHeavy.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirLTProLight;
  font-display: swap;
  src: url("../fonts/AvenirLTProLight.woff2") format("woff2"), url("../fonts/AvenirLTProLight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirLTProLightOblique;
  font-display: swap;
  src: url("../fonts/AvenirLTProLightOblique.woff2") format("woff2"), url("../fonts/AvenirLTProLightOblique.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirLTProHeavyOblique;
  font-display: swap;
  src: url("../fonts/AvenirLTProHeavyOblique.woff2") format("woff2"), url("../fonts/AvenirLTProHeavyOblique.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirLTProMedium;
  font-display: swap;
  src: url("../fonts/AvenirLTProMedium.woff2") format("woff2"), url("../fonts/AvenirLTProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirLTProOblique;
  font-display: swap;
  src: url("../fonts/AvenirLTProOblique.woff2") format("woff2"), url("../fonts/AvenirLTProOblique.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirNextLTPro;
  font-display: swap;
  src: url("../fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: AvenirLTProMediumOblique;
  font-display: swap;
  src: url("../fonts/AvenirLTProMediumOblique.woff2") format("woff2"), url("../fonts/AvenirLTProMediumOblique.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirLTProRoman;
  font-display: swap;
  src: url("../fonts/AvenirLTProRoman.woff2") format("woff2"), url("../fonts/AvenirLTProRoman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirNextLTPro;
  font-display: swap;
  src: url("../fonts/AvenirNextLTPro-BoldCn.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-BoldCn.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirNextLTPro;
  font-display: swap;
  src: url("../fonts/AvenirNextLTPro-DemiCn.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-DemiCn.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirNextLTPro;
  font-display: swap;
  src: url("../fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirNextLTPro;
  font-display: swap;
  src: url("../fonts/AvenirNextLTPro-It.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-It.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: AvenirNextLTPro;
  font-display: swap;
  src: url("../fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "AvenirLTProMedium";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "AvenirLTProMedium";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
#container {
  position: relative;
  box-shadow: 0 0 3px rgba(4, 4, 52, 0.09), 0 4px 8px rgba(4, 4, 52, 0.05), 0 6px 12px rgba(4, 4, 52, 0.02);
  background-color: #fff;
  height: 375px;
  width: 100%;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.date-graf {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 5px 0;
  color: #71718e;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  justify-content: space-around;
  z-index: 1099999;
  width: 100%;
  background: rgb(255, 255, 255);
  top: -34px;
  opacity: 1;
  left: 0;
  position: relative;
}

.sum-container {
  position: relative;
}
.sum-container .beta {
  display: flex;
  width: 60px;
  z-index: 3;
  right: 35px;
  top: 40px;
  position: absolute;
}
.sum-container .beta span {
  background-color: #eaf4fe;
  color: #254174;
  grid-gap: 6px;
  font-weight: 500;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  flex-direction: row;
  padding: 4px 8px;
  white-space: nowrap;
}
.sum-container .beta svg {
  margin-left: 3px;
  max-width: 14px;
}

.sum {
  position: relative;
  padding: 32px 0 24px 32px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 36px;
  white-space: nowrap;
  position: relative;
  top: 10px;
  background: white;
  z-index: 2;
  box-shadow: 0 0 3px rgba(4, 4, 52, 0.09), 0 0px 8px rgba(4, 4, 52, 0.05), 0 0px 12px rgba(4, 4, 52, 0.02);
  height: 123px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.sum p {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 24px;
  color: #41415a;
}
.sum .cents {
  font-size: 0.7em;
  position: relative;
  top: -0.3em;
}

.header {
  color: rgba(143, 204, 197, 0.5019607843);
  position: fixed;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f30;
  color: #fff;
  z-index: 100;
  justify-content: space-between;
  min-height: 56px;
  padding-left: 44px;
  padding-right: 48px;
  top: 0;
  width: 100%;
}
.header div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header div p {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  max-height: 15px;
}
.header div p span {
  font-size: 15px;
  margin-left: 12px;
  text-decoration: underline;
  font-weight: 600;
  max-height: 15px;
}
.header div button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header div button svg {
  margin-left: 11px;
  max-width: 11px;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 28px;
  margin-right: 24px;
}
.header .btn-box {
  gap: 10px;
}
.header .btn {
  width: 174px;
}
.header .btn-demo {
  background-color: #565674;
  border-radius: 16px;
  min-height: 32px;
  padding: 4px 16px;
  align-items: center;
  border: none;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
  text-decoration: none;
}
.header .btn-white {
  color: #1f1f30;
  min-width: 50px;
  background-color: #fff;
  border-radius: 16px;
  min-height: 32px;
  padding: 4px 16px;
  align-items: center;
  border: none;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
.menu_container {
  background-color: #f9f9fb;
  border-right: 1px solid #efeffd;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(64px, auto) 1fr auto;
  height: 100%;
  max-height: 100vh;
  min-width: 216px;
  position: fixed;
  width: 216px;
  z-index: 2;
}
.menu_container .menu-logo {
  align-content: center;
  color: #1f1f30;
  display: grid;
  height: 64px;
  padding: 0 0 0 24px;
}
.menu_container .menu-lits {
  grid-gap: 4px;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: minmax(0, 1fr);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 8px 12px 4px 12px;
}
.menu_container .menu-lits svg {
  max-width: 13px;
}
.menu_container .menu-item {
  grid-gap: 8px;
  align-items: center;
  border-radius: 8px;
  box-shadow: none;
  color: #41415a;
  display: grid;
  font-size: 15px;
  font-weight: 500;
  grid-template-columns: 24px 1fr;
  line-height: 24px;
  overflow: hidden;
  padding: 6px 8px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  transition: all 0.1s ease 0s;
}
.menu_container .menu-item.item-list {
  display: flex;
  justify-content: space-between;
}
.menu_container .menu-item.item-list span {
  grid-gap: 8px;
  align-items: center;
  border-radius: 8px;
  box-shadow: none;
  color: #41415a;
  display: grid;
  font-size: 15px;
  font-weight: 500;
  grid-template-columns: 24px 1fr;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.menu_container .menu-item:hover {
  background-color: #f2f2f7;
  color: #1f1f30;
}
.menu_container .menu-item.active {
  background-color: #f2f2f7;
  color: #1f1f30;
  font-weight: 600;
}
.menu_container .menu-item.active svg {
  color: #7b8fef;
}
.menu_container .menu-user {
  transition: all 0.1s ease 0s;
  box-shadow: inset 0 1px 0 #efeffd;
  cursor: pointer;
  outline: transparent;
  width: 100%;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 80px;
  justify-content: space-between;
  padding: 20px 16px;
}
.menu_container .menu-user:hover {
  background-color: #f2f2f7;
  color: #1f1f30;
}
.menu_container .menu-user:hover svg {
  color: #7b8fef;
}
.menu_container .menu-user svg {
  color: #71718e;
  font-size: 13px;
  max-width: 13px;
}
.menu_container .menu-user .user-img {
  border: 1px solid #e4e5fc;
  color: #41415a;
  border-radius: 6px;
  font-size: 17px;
  height: 36px;
  min-width: 36px;
  width: 36px;
  align-items: center;
  border-radius: 4px;
  display: flex;
  font-weight: 600;
  justify-content: center;
  line-height: 24px;
  position: relative;
  text-transform: uppercase;
}
.menu_container .menu-user .user-name {
  display: flex;
  flex-flow: column nowrap;
  width: 107px;
}
.menu_container .menu-user .user-name h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: #1f1f30;
}
.menu_container .menu-user .user-name p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: baseline;
  display: flex;
  flex-flow: row nowrap;
  color: #565674;
}
.search {
  margin: 12px 0;
  margin-left: 216px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  max-width: 968px;
  width: 100%;
}
.search .styles__omnisearch_uDQMK {
  transition: all 0.1s ease 0s;
  position: relative;
  width: 700px;
}
.search .styles__omnisearch_uDQMK:hover {
  box-shadow: 0 9px 18px rgba(216, 216, 233, 0.26), 0 22px 96px rgba(239, 239, 253, 0.12);
}
.search .styles__boxShadowContainer_D_0Ue {
  border-radius: 8px;
  pointer-events: none;
  position: absolute;
  width: 700px;
  z-index: 4;
}
.search .styles__searchBar_dJK5_ {
  position: relative;
}
.search .styles__searchIcon_qnug6 {
  color: #71718e;
  height: 13px;
  left: 16px;
  pointer-events: none;
  position: absolute;
  top: calc(50% - 6px);
  width: 13px;
}
.search .styles__selectedFilter_STmjU {
  left: 44px;
  position: absolute;
  top: calc(50% - 16px);
}
.search .styles__searchBar_dJK5_ input {
  background: linear-gradient(1turn, rgba(239, 239, 253, 0.1), rgba(239, 239, 253, 0.2)), #fff;
  border: 1px solid #e4e5fc;
  border-radius: 8px;
  color: #9d9db0;
  font-size: 15px;
  outline: transparent;
  padding: 12px 18px 12px 41px;
  width: 100%;
}
.search .styles__keyboardShortcutToFocus_FY7_5 {
  grid-gap: 2px;
  align-items: center;
  display: flex;
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 2px;
}
.search .styles__grey_E8LUq {
  color: #71718e;
}
.search .styles__key_NR_Ex {
  align-items: center;
  background: #f2f2f7;
  border: 1px solid #efeffd;
  border-radius: 4px;
  color: #71718e;
  display: flex;
  height: 16px;
  justify-content: center;
}
.search svg:not(:root).svg-inline--fa,
.search svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}
.search .styles__clearSearchIcon_s2enz {
  color: #9d9db0;
  cursor: pointer;
  display: none;
  height: 16px;
  padding: 4px;
  position: absolute;
  right: 12px;
  top: calc(50% - 12px);
  width: 16px;
}
.search .styles__menu_sWMjy {
  background: #fff;
  border: 1px solid #efeffd;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: none;
  display: none;
  max-height: 600px;
  outline: transparent;
  position: absolute;
  width: 700px;
  z-index: 4;
}
.search .styles__buttons_T6ncV {
  grid-gap: 20px;
  display: flex;
}
.search .styles__kebab_CXs0L {
  position: relative;
  cursor: pointer;
}
.search .styles__customButton_yxeeV.styles__default_yeu5H {
  background-color: #fff;
  box-shadow: 0 9px 18px rgba(216, 216, 233, 0.26), 0 22px 96px rgba(239, 239, 253, 0.12);
  color: #41415a;
}
.search .styles__customButton_yxeeV {
  border-radius: 20px;
  font-size: 15px;
  height: 24px;
  letter-spacing: 0.3px;
  line-height: 24px;
  min-height: 20px;
  padding: 8px 24px 8px 28px;
}
.search .styles__customButton_yxeeV {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  box-sizing: content-box;
  display: inline-block;
  font-family: AvenirNextLTPro, Arial, Roboto, -apple-system, system-ui, Segoe UI, Ubuntu, Cantarell, Noto Sans, sans-serif, Oxygen, Open Sans, Helvetica Neue, Icons16;
  font-weight: 600;
  min-height: 24px;
  outline: transparent;
  text-decoration: none;
  white-space: nowrap;
}
.search .styles__customButton_yxeeV.styles__default_yeu5H .styles__chevron_CZftz {
  color: #41415a;
}
.search .styles__chevron_CZftz {
  font-size: 13px;
  margin-left: 8px;
}
.search .svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.search .styles__circle_OQGo8 {
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 10px 24px rgba(65, 65, 90, 0.13);
  color: #4d68eb;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: relative;
  width: 40px;
}
.search button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: AvenirNextLTPro, Arial, Roboto, -apple-system, system-ui, Segoe UI, Ubuntu, Cantarell, Noto Sans, sans-serif, Oxygen, Open Sans, Helvetica Neue, Icons16;
  outline: inherit;
  padding: unset;
}
.search .styles__count_VkYsY {
  background: #d9177e;
  border-radius: 8px;
  height: 16px;
  left: 24px;
  letter-spacing: 0;
  line-height: 16px;
  min-width: 16px;
  padding: 0px 4px;
  position: absolute;
  text-align: center;
  top: 0;
  width: auto;
}
.search .styles__white_eOhCL {
  color: #fff;
}
.search .styles__tiny-demi_c4pNA {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 17px;
}

.main_content {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.main_content .styles__transactionsPageDashboardWrapper_ffYD4 {
  margin-left: 216px;
}
.main_content .styles__header_z1Sv4 {
  align-items: flex-end;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 968px;
}
.main_content .styles__main_HGczF {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 36px;
}
.main_content .styles__title_hTQqE {
  margin-right: 24px;
}
.main_content .styles__wrapper_Q7pSU {
  display: flex;
  flex-flow: row nowrap;
}
.main_content .styles__label_WnHsn {
  color: #1f1f30;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 24px;
  margin-right: 8px;
  text-align: right;
}
.main_content .styles__leftDoubleArrowHidden_kItCm {
  height: 24px;
  margin-right: 4px;
  width: 24px;
}
.main_content .styles__singleArrow_WCykq.styles__left_vMvEn {
  transform: rotate(180deg);
}
.main_content .styles__singleArrow_WCykq {
  background: url(img/icons/chevron.svg) 0/24px 24px no-repeat;
  height: 24px;
  width: 24px;
}
.main_content .styles__paginationButton_t3Nb_:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.main_content .styles__header_z1Sv4.styles__filtersAndExportButton_ZVquG {
  margin: 24px 0 16px;
}
.main_content .styles__header_z1Sv4 {
  align-items: flex-end;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 968px;
}
.main_content .styles__filterBar_w5_tr {
  align-items: top;
  display: flex;
  flex-direction: row;
  height: 32px;
}
.main_content .styles__secondary__QoZs.styles__small_kn2WB,
.main_content .styles__secondary__QoZs.styles__small_kn2WB .styles__icon_rh7Ps {
  color: #41415a;
}
.main_content .styles__popoverWrapper_OOB2B {
  position: relative;
}
.main_content .styles__secondary__QoZs.styles__small_kn2WB,
.main_content .styles__secondary__QoZs.styles__small_kn2WB .styles__icon_rh7Ps {
  color: #41415a;
}
.main_content .styles__small_kn2WB.styles__buttonWithContent_BycD1 {
  min-width: 50px;
}
.main_content .styles__secondary__QoZs {
  background-color: #f9f9fb;
}
.main_content .styles__small_kn2WB {
  border-radius: 16px;
  min-height: 32px;
  padding: 4px 16px;
}
.main_content .styles__filterList_clvmt {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main_content .styles__tag_h29q7:not(.styles__disabled_lWKJV).styles__clickable_y_LGk {
  cursor: pointer;
}
.main_content .styles__tag_h29q7 {
  align-items: center;
  border-radius: 8px;
  color: #41415a;
  cursor: default;
  display: inline-flex;
  flex-direction: row;
  height: 32px;
  outline: transparent;
  padding: 0 0 0 12px;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  z-index: 1;
}
.main_content .styles__default_Oz9Gh {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 24px;
}
.main_content .styles__tagText_J69DI {
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main_content .styles__filterList_clvmt li {
  margin-right: 8px;
}
.main_content .styles__removeButton_jbVX5:not(:disabled) {
  cursor: pointer;
}
.main_content .styles__tag_h29q7 .styles__tagBackground_dJFDS {
  background-color: #efeffd;
  border-radius: 8px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.main_content .styles__removeButton_jbVX5 .styles__focusRing_xNIHw {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  height: 10px;
  justify-content: space-around;
  width: 10px;
}
.main_content .styles__removeButton_jbVX5 {
  align-items: center;
  border-radius: 8px;
  display: flex;
  height: 32px;
  justify-content: space-around;
  outline: none;
  width: 32px;
}
.main_content .styles__graphButton_jubDI {
  border: 1px solid #e4e5fc;
  border-radius: 8px;
  border-radius: 16px;
  margin: 0 4px;
  outline: 0;
  padding: 4px 16px;
  white-space: nowrap;
  width: 144px;
  background-color: #e2e2f7;
}
.main_content .styles__graphButton_jubDI svg {
  max-width: 13px;
}
.main_content .styles__default_Oz9Gh {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 24px;
}
.main_content .styles__resetFiltersButton_mSoLX {
  border-radius: 8px;
  color: #4d68eb;
  margin: 0;
  outline: 0;
  padding: 4px 12px;
  white-space: nowrap;
}
.main_content .styles__graphButton_jubDI > span {
  margin-right: 8px;
}
.main_content .styles__default_Oz9Gh {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 24px;
}
.main_content .styles__barSeparator_jDnFH {
  background-color: #efeffd;
  height: 24px;
  margin: 4px 12px;
  width: 1px;
}
.main_content .styles__small_kn2WB.styles__buttonWithContent_BycD1 {
  min-width: 50px;
  width: 156px;
}
.main_content .styles__secondary__QoZs {
  background-color: #f9f9fb;
}
.main_content .styles__small_kn2WB {
  border-radius: 16px;
  min-height: 32px;
  padding: 4px 16px;
}
.main_content .styles__button_eo_Sf {
  align-items: center;
  border: none;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
  text-decoration: none;
  width: 123px;
}
.main_content .styles__button_eo_Sf svg {
  max-width: 11px;
  margin-right: 5px;
}
.main_content .styles__filterTotalFooter_mOaxX {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: hsla(0deg, 0%, 100%, 0.8);
}
.main_content .styles__filterTotalFooter_mOaxX {
  align-items: center;
  bottom: 0;
  box-shadow: inset 0 1px 0 #efeffd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 56px;
  margin-top: 56px;
  padding: 16px 0;
  position: fixed;
  width: 968px;
  z-index: 2;
}
.main_content .styles__filterTotalFooter_mOaxX .styles__left_esQ3f {
  align-items: center;
  display: flex;
  padding-left: 8px;
}
.main_content .styles__labelWithTooltipQuestion_zSmVq {
  display: flex;
  flex-flow: row nowrap;
}
.main_content .styles__default_Oz9Gh {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 24px;
}
.main_content .styles__labelWithTooltipQuestion_zSmVq .styles__tooltipWrapper_zHftL {
  align-items: center;
  cursor: default;
  display: flex;
  margin-left: 4px;
  padding-left: 1px;
}
.main_content .styles__labelWithTooltipQuestion_zSmVq .styles__iconWrapper_kSleq {
  display: flex;
}
.main_content .styles__filterTotalFooter_mOaxX .styles__middle_TEeCW {
  display: flex;
  justify-content: flex-end;
  padding-right: 117px;
}
.main_content .styles__wrapper_d1ylp:not(.styles__disabled_tionl),
.main_content .styles__wrapper_d1ylp:not(.styles__disabled_tionl) > * {
  -webkit-user-select: none;
  user-select: none;
}
.main_content .styles__wrapper_d1ylp {
  position: relative;
}
.main_content .styles__tooltip-wrapper_iqUtU {
  position: relative;
}
.main_content .styles__default_Oz9Gh {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 24px;
}
.main_content .styles__dollarDisplay_pzdvf {
  white-space: nowrap;
}
.main_content .styles__dollarDisplay_pzdvf .styles__super_J4X_E {
  font-size: 0.7em;
  position: relative;
  top: -0.3em;
}
.main_content .styles__filterTotalFooter_mOaxX .styles__right_fvCMd {
  display: flex;
  justify-content: flex-end;
}
.main_content .styles__wrapper_Q7pSU {
  display: flex;
  flex-flow: row nowrap;
}
.main_content .styles__label_WnHsn {
  color: #1f1f30;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 24px;
  margin-right: 8px;
  text-align: right;
}
.main_content .styles__leftDoubleArrowHidden_kItCm {
  height: 24px;
  margin-right: 4px;
  width: 24px;
}
.main_content .styles__paginationButton_t3Nb_:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.main_content .styles__singleArrow_WCykq.styles__left_vMvEn {
  transform: rotate(180deg);
}
.main_content .styles__singleArrow_WCykq {
  background: url(img/icons/chevron.svg) 0/24px 24px no-repeat;
  height: 24px;
  width: 24px;
}
.main_content .styles__paginationButton_t3Nb_:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.main_content .styles__singleArrow_WCykq:not(.styles__left_vMvEn) {
  margin-left: 4px;
}
.main_content .styles__singleArrow_WCykq {
  background: url(img/icons/chevron.svg) 0/24px 24px no-repeat;
  height: 24px;
  width: 24px;
}
.main_content .TableAndCard__tableAndCardWrapper_K_1l_ {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  min-height: 450px;
  position: relative;
  z-index: 1;
}
.main_content .TableAndCard__tableAndLoadingStateWrapper_yV2XW {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}
.main_content .styles__cardTable_oIvA_ {
  position: relative;
}
.main_content .styles__cardTableBackground_ooYFN {
  background-color: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 50ms ease;
  transition-delay: 0ms;
  width: 544px;
  z-index: 3;
}
.main_content .styles__tableHeaders_Gb5CJ {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 32px;
  pointer-events: none;
  position: sticky;
  top: 0;
  z-index: 5;
}
.main_content .styles__cardTable_oIvA_ .styles__notCollapsible_CGUWU {
  z-index: 4;
}
.main_content .styles__headerDate_TQBkC:not(.styles__disabled_ORcXy) {
  pointer-events: all;
}
.main_content .styles__tableHeader_yF9tW {
  background-color: #fff;
  box-shadow: inset 0 -1px 0 #efeffd;
  height: 32px;
}
.main_content .styles__headerDate_TQBkC {
  align-items: center;
  display: flex;
  width: 104px;
}
.main_content .styles__grey_E8LUq {
  color: #71718e;
}
.main_content .styles__tiny_kCP28 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 20px;
}
.main_content .styles__columnLabelContainer_kjS_N:not(.styles__disabled_ORcXy) {
  cursor: pointer;
}
.main_content .styles__columnLabelContainer_kjS_N {
  border-radius: 4px;
  color: #71718e;
  padding: 2px 8px;
}
.main_content .styles__tiny_kCP28 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 20px;
}
.main_content .styles__smallerTimezoneText_O4aa1 {
  font-size: 9px;
}
.main_content .styles__carat_tbOyr {
  margin-left: 5px;
}
.main_content .styles__tableHeader_yF9tW {
  background-color: #fff;
  box-shadow: inset 0 -1px 0 #efeffd;
  height: 32px;
}
.main_content .styles__grey_E8LUq {
  color: #71718e;
}
.main_content .styles__tiny_kCP28 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 20px;
}
.main_content .styles__cardTable_oIvA_ .styles__notCollapsible_CGUWU {
  z-index: 4;
}
.main_content .styles__tableHeader_yF9tW {
  background-color: #fff;
  box-shadow: inset 0 -1px 0 #efeffd;
  height: 32px;
}
.main_content .styles__headerToFrom_WAxeE {
  padding: 6px 8px 6px 0;
  width: 310px;
}
.main_content .styles__grey_E8LUq {
  color: #71718e;
}
.main_content .styles__tiny_kCP28 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 20px;
}
.main_content .styles__headerAmount_RPZqg {
  padding: 6px 12px;
  text-align: right;
  width: 130px;
}
.main_content .styles__cardTable_oIvA_ .styles__notCollapsible_CGUWU {
  z-index: 4;
}
.main_content .styles__tableHeader_yF9tW {
  background-color: #fff;
  box-shadow: inset 0 -1px 0 #efeffd;
  height: 32px;
}
.main_content .styles__cardTable_oIvA_ .styles__collapsible_brGlJ {
  transition: all 0.5s ease;
  transition-delay: 0ms;
  transition-property: opacity, transform;
  z-index: 2;
}
.main_content .styles__tableHeader_yF9tW {
  background-color: #fff;
  box-shadow: inset 0 -1px 0 #efeffd;
  height: 32px;
}
.main_content .styles__headerAccount_mTbhC {
  padding: 6px 8px 6px 64px;
  width: 232px;
}
.main_content .styles__grey_E8LUq {
  color: #71718e;
}
.main_content .styles__tiny_kCP28 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 20px;
}
.main_content .styles__cardTable_oIvA_ .styles__collapsible_brGlJ {
  transition: all 0.5s ease;
  transition-delay: 0ms;
  transition-property: opacity, transform;
  z-index: 2;
}
.main_content .styles__tableHeader_yF9tW {
  background-color: #fff;
  box-shadow: inset 0 -1px 0 #efeffd;
  height: 32px;
}
.main_content .styles__headerPaymentMethod_IT7J5 {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  width: 192px;
}
.main_content .styles__headerPaymentMethod_IT7J5 {
  padding: 6px 8px;
}
.main_content .styles__headerPaymentMethod_IT7J5 svg {
  width: 14px;
  height: 19px;
}
.main_content .styles__paymentMethodIcon_b2aDS {
  color: #9d9db0;
  margin-right: 6px;
  width: 14px;
  height: 14px;
}
.main_content .styles__headerDate_TQBkC {
  align-items: center;
  display: flex;
  width: 104px;
}
.main_content .styles__tiny_kCP28 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 20px;
  white-space: nowrap;
}
.main_content .styles__tiny_kCP28.styles__headerPaymentMethod_IT7J5 svg {
  position: relative;
  max-width: 14px;
}
.main_content .styles__tiny_kCP28 svg {
  position: relative;
  max-width: 8px;
}
.main_content .styles__tableRow_LZNjs {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
.main_content .styles__cardTable_oIvA_ .styles__notCollapsible_CGUWU {
  z-index: 4;
}
.main_content .styles__tableCell_IRsqR {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 48px;
}
.main_content .styles__cellDate_s01XH {
  border-bottom-left-radius: 4px;
  color: #565674;
  padding: 14px 8px;
  width: 92px;
}
.main_content .styles__cardTable_oIvA_ .styles__notCollapsible_CGUWU {
  z-index: 4;
}
.main_content .styles__tableCell_IRsqR {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 48px;
}
.main_content .styles__cellAvatarWrapper_e_csK {
  justify-content: center;
  width: 44px;
}
.main_content .styles__cardTable_oIvA_ .styles__notCollapsible_CGUWU {
  z-index: 4;
}
.main_content .styles__tableCell_IRsqR {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 48px;
}
.main_content .styles__cellToFrom_jEgnW {
  padding: 12px 4px;
  width: 278px;
}
.main_content .styles__cardTable_oIvA_ .styles__notCollapsible_CGUWU {
  z-index: 4;
}
.main_content .styles__tableCell_IRsqR {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 48px;
}
.main_content .styles__cellAmount_YAdSh {
  color: #71718e;
  justify-content: flex-end;
  padding: 12px 16px;
  width: 130px;
}
.main_content .styles__cardTable_oIvA_ .styles__collapsible_brGlJ {
  transition: all 0.5s ease;
  transition-delay: 0ms;
  transition-property: opacity, transform;
  z-index: 2;
}
.main_content .styles__tableCell_IRsqR {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 48px;
}
.main_content .styles__cellAccount_T8Hsi {
  color: #565674;
  padding: 14px 8px 14px 64px;
  width: 232px;
}
.main_content .styles__cardTable_oIvA_ .styles__collapsible_brGlJ {
  transition: all 0.5s ease;
  transition-delay: 0ms;
  transition-property: opacity, transform;
  z-index: 2;
}
.main_content .styles__tableCell_IRsqR {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 48px;
}
.main_content .styles__cellPaymentMethod_AZLDI {
  width: 192px;
}
.main_content .styles__cellPaymentMethod_AZLDI {
  align-items: center;
  color: #565674;
  display: flex;
  flex-flow: row nowrap;
  padding: 14px 8px;
}
.main_content .styles__dollarDisplay_pzdvf {
  white-space: nowrap;
}
.main_content .styles__green-dark_NOqZL {
  color: #008375;
}
.main_content .styles__default_Oz9Gh {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 24px;
}
.main_content .styles__ellipsize_dJXjX {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main_content .styles__default_Oz9Gh {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 24px;
}
.main_content .styles__cellAvatarWrapper_e_csK .styles__avatar_gP211 {
  height: 28px;
  min-width: 28px;
  width: 28px;
}
.main_content .styles__starts-with-M_b5k5G {
  background-color: #d0e2fd;
}
.main_content .styles__textAvatar_FVwLt {
  padding-top: 1px;
}
.main_content .styles__small_l3Et8 {
  font-size: 10px;
  height: 28px;
  min-width: 28px;
  width: 28px;
}
.main_content .styles__circle_MWRjI {
  border-radius: 50%;
}
.main_content .styles__circle_MWRjI,
.main_content .styles__square_f4kYY {
  align-items: center;
  color: #1f1f30;
  display: flex;
  font-weight: 600;
  justify-content: center;
  line-height: 24px;
  position: relative;
  text-transform: uppercase;
  -webkit-user-select: none;
  user-select: none;
}
.main_content .styles__cellAvatarWrapper_e_csK .styles__avatar_gP211 {
  height: 28px;
  min-width: 28px;
  width: 28px;
}
.main_content .styles__starts-with-C_Bwjg7 {
  background-color: #d5d7fd;
}
.main_content .styles__textAvatar_FVwLt {
  padding-top: 1px;
}
.main_content .styles__small_l3Et8 {
  font-size: 10px;
  height: 28px;
  min-width: 28px;
  width: 28px;
}
.main_content .styles__circle_MWRjI {
  border-radius: 50%;
}
.main_content .styles__circle_MWRjI,
.main_content .styles__square_f4kYY {
  align-items: center;
  color: #1f1f30;
  display: flex;
  font-weight: 600;
  justify-content: center;
  line-height: 24px;
  position: relative;
  text-transform: uppercase;
  -webkit-user-select: none;
  user-select: none;
}
.main_content .styles__starts-with-O_KyZIa {
  background-color: #cfe4fd;
}
.main_content .styles__headerToFrom_WAxeE {
  padding: 6px 8px 6px 0;
  width: 310px;
}
.main_content .styles__headerAmount_RPZqg {
  padding: 6px 12px;
  text-align: right;
  width: 130px;
}
.main_content .styles__headerAccount_mTbhC {
  padding: 6px 8px 6px 64px;
  width: 232px;
}
.main_content .styles__headerPaymentMethod_IT7J5 {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  width: 192px;
}

.styles__tableRow_LZNjs {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  z-index: 3;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.1s ease 0s;
}
.styles__tableRow_LZNjs:hover {
  background: #e3f1ff;
}
.styles__tableRow_LZNjs:hover * {
  color: black;
}

.styles__tiny_kCP28 {
  cursor: pointer;
}
.styles__tiny_kCP28:hover {
  background-color: #ececf1;
  border-radius: 5px;
}

#mercury-utils-id-26:hover {
  background-color: #ececf1;
}
#mercury-utils-id-26:hover svg {
  color: #4d68eb;
}

.styles__tag_h29q7.styles__clickable_y_LGk:hover .styles__tagBackground_dJFDS {
  transition: all 0.1s ease 0s;
  background-color: #e2e2f7;
}

.styles__graphButton_jubDI:hover,
.styles__resetFiltersButton_mSoLX:hover {
  background-color: #e2e2f7;
}

.styles__button_eo_Sf.styles__small_kn2WB.styles__secondary__QoZs.styles__buttonWithContent_BycD1:hover {
  background-color: #ececf1;
}
.styles__button_eo_Sf.styles__small_kn2WB.styles__secondary__QoZs.styles__buttonWithContent_BycD1:hover svg {
  color: #4d68eb;
}
